<aside class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all ">
    <div class="sidebar-header d-flex align-items-center justify-content-start">
         <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
            <span class="icon">
               <i class="fa-solid fa-angles-right p-2"></i>
            </span>
        </div>
        <a href="../dashboard/index.html" class="navbar-brand">
            
            <!--Logo start-->
            <div class="logo-main">
                <div class="logo-normal">
                    <img src="../../assets/images/dashboard/white.png" alt="" style="width: 100px;">
                </div>
                <div class="logo-mini">
                    <img src="../../assets/images/dashboard/white.png" alt="" style="width: 50px;">
                </div>
            </div>
            <!--logo End-->
            
            
            
        </a>
       
    </div>
    <div class="sidebar-body pt-0 data-scrollbar">
        <div class="sidebar-list">
            <!-- Sidebar Menu Start -->
            <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
                
                <li class="nav-item">
                    
                    <a class="nav-link active" aria-current="page" href="../dashboard/index.html">
                        <i class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z"/>
                        </svg>
                        </i>
                        <span class="item-name">Dashboard</span>
                    </a>
                </li>
                
                
                
                
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#sidebar-auth" role="button" aria-expanded="false" aria-controls="sidebar-user">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <span class="item-name">Authentication</span>
                        <i class="right-icon">
                            <svg class="icon-18" xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </i>
                    </a>
                    <ul class="sub-nav collapse" id="sidebar-auth" data-bs-parent="#sidebar-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="">                                    
                                <i class="fa-solid fa-gear sidenav-mini-icon"></i> 
                                <span class="item-name">seting</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">                                    
                                <i class="fa-solid fa-lock sidenav-mini-icon"></i> 
                                <span class="item-name">Login</span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="signUp.html">                                    
                                <i class="fa-solid fa-lock sidenav-mini-icon"></i> 
                                <span class="item-name">SignUp</span>
                            </a>
                        </li>
                    
                    </ul>
                </li>
                
                
               
            </ul>
            <!-- Sidebar Menu End -->        </div>
    </div>
    <div class="sidebar-footer"></div>
</aside>    <main class="main-content">
  <div class="position-relative iq-banner">
    <!--Nav Start-->
    <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar">
      <div class="container-fluid navbar-inner">
        <a href="../dashboard/index.html" class="navbar-brand">
            
            <!--Logo start-->
            <div class="logo-main">
                <div class="logo-normal">
                    <img src="../../assets/images/dashboard/white.png" alt="" style="width: 100px;">
                </div>
                <div class="logo-mini">
                    <img src="../../assets/images/dashboard/white.png" alt="" style="width: 100px;">
                </div>
            </div>
            <!--logo End-->
            
        </a>
        <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
            <span class="icon">
               <i class="fa-solid fa-angles-right p-2"></i>
            </span>
        </div>
        <div class="input-group search-input">
          <span class="input-group-text" id="search-input">
            <i class="fa-solid fa-magnifying-glass"></i>               
          </span>
          <input type="search" class="form-control" placeholder="Search...">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
              <span class="mt-2 navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
                            
            <li class="nav-item ">
              <a href="#"  class="nav-link"  >
                  <i class="fa-solid fa-bell"></i>
                  <span class="bg-danger dots"></span>
              </a>
              
            </li>
            
            <li class="nav-item dropdown">
              <a class="py-0 nav-link d-flex align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img width="30px" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D" alt="User-Profile" class="theme-color-default-img img-fluid avatar avatar-50 avatar-rounded">
                <div class="caption ms-3 d-none d-md-block ">
                    <h6 class="mb-0 caption-title">PRO Name</h6>
                    <p class="mb-0 caption-sub-title">Marketing Administrator</p>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="">Profile</a></li>
                <li><a class="dropdown-item" href="">Privacy Setting</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>          <!-- Nav Header Component Start -->
      <div class="iq-navbar-header" style="height: 215px;">
          <div class="container-fluid iq-container">
              <div class="row">
                  <div class="col-md-12">
                      <div class=" d-flex justify-content-between align-items-center">
                          <div>
                              <h1>Good Morning!</h1>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vel unde, nulla dolorum beatae dolorem expedita provident exercitationem optio cum at tempora sit neque sapiente, temporibus deleniti pariatur nam nisi?</p>
                          </div>                             
                      </div>
                  </div>
              </div>
          </div>
          <div class="iq-header-img">
              <img src="../../../assets/images/dashboard/top-header.png" alt="header" class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX">
              </div>
      </div>          <!-- Nav Header Component End -->
    <!--Nav End-->
  </div>
  
  <!-- Footer Section Start -->
  <footer class="footer">
      <div class="footer-body">
          
          <div class="right-panel">
              ©2024  Linit
               <span>Design by <a href="#">VNC Consultancy</a>.</span>
          </div>
      </div>
  </footer>